*{
    margin: 0;
    padding: 0;

}
.div{
    background-color: mintcream;
    margin: 20px;
    align-items: center;
    border: 5px solid grey;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
}
.heading{
    color: rgb(149, 149, 199);
    padding: 10px;
    text-align: center;

}
.form{
    background-color: rgb(181, 192, 192);
    border-radius: 5px;
    padding-left: 30%;
    margin-top: 10px;

}
level{
    padding: 10px;
    text-align: left;
}
input{
    display: flex;
    background-color: aliceblue;



}
.login{
    background-color: rgb(207, 207, 236);
    color:rgb(76, 71, 71);
    border-radius: 5px;
    align-items: center;
    margin: 10px;
    padding: 10px;
}